h3{
	padding-top: 10px;
}
input[type="text"]{
	padding: 20px;
	border-radius: 8px;
	cursor: pointer;

}
input[type="submit"]
{
	padding: 20px;
	background-color: #2af1c3;
	border:none ;
	border-radius: 6px;
	cursor: pointer;

}
input[type="submit"]:hover{
	background-color: #19d2199c;
}
.row{
	padding: 10px;
}
.box{
	
	background-color: #cc7d7d;
	width: 500px;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
}

}